html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
	min-width: 360px;
}

h1 {
	margin-left: 10px;
}

.card-panel {
	display: inline-block;
	margin: 10px;
}

.material-icons {
	margin: 0 auto;
}

.utilities {
	display: inline-block;
	margin: 10px;
}

.metrics {
	display: inline-block;
}

.material-icons.md-36 {
		font-size: 24px;
}

@media (max-width: 449px) {
	h1 {
		font-size: 28px;
	}
	.card-panel {
		width: 60px;
		height: 60px;
	}

	.utilities {
		width: 120px;
		margin-right: 30px
	}
}

@media (min-width: 450px) and (max-width: 499px) {
	h1 {
		font-size: 36px;
	}

	.card-panel {
		width: 80px;
		height: 80px;
	}

	.utilities {
		width: 160px;
		margin-right: 30px
	}
}

@media (min-width: 500px) and (max-width: 579px) {
	h1 {
		font-size: 36px;
	}

	.card-panel {
		width: 90px;
		height: 90px;
	}

	.utilities {
		width: 180px;
		margin-right: 30px;
	}
}

@media (min-width: 580px) and (max-width: 679px) {
	h1 {
		font-size: 36px;
	}

	.card-panel {
		width: 100px;
		height: 100px;
	}

	.utilities {
		width: 100px;
	}

}

@media (min-width: 680px) and (max-width: 750px) {
	
	h1 {
		font-size: 46px;
	}

	.card-panel {
		width: 120px;
		height: 120px;
	}

	.utilities {
		width: 120px;
	}
}

@media (min-width: 751px) and (max-width: 849px) {
	.card-panel {
		width: 130px;
		height: 130px;
	}
	
	.utilities {
		width: 130px;
	}
	
	.material-icons.md-36 {
		font-size: 36px;
	}
}

@media (min-width: 850px) {
	.card-panel {
		width: 150px;
		height: 150px;
	}
	
	.utilities {
		width: 150px;
	}

	.material-icons.md-36 {
		font-size: 36px;
	}
}